Task : design a ML system provided bank transaction data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

## Load data and do basic analysis

In [2]:
# Load your dataset
data = pd.read_csv('C:\\Users\\user\\Desktop\\Machine learning pratice\\banktransacion fraud\\banktransaction.csv')
data

,typeofaction,sourceid,destinationid,amountofmoney,date,isfraud,typeoffraud
0,cash-in,30105,28942,494528,2019-07-19 14:40:00,1,type1
1,cash-in,30105,8692,494528,2019-05-17 14:57:00,1,type1
2,cash-in,30105,60094,494528,2019-07-20 13:20:00,1,type1
3,cash-in,30105,20575,494528,2019-07-03 14:15:00,1,type1
4,cash-in,30105,45938,494528,2019-05-26 10:40:00,1,type1
...,...,...,...,...,...,...,...
2335,transfer,14945,43793,106907,2019-03-29 14:53:00,0,none
2336,transfer,9532,43793,106907,2019-04-13 13:19:00,0,none
2337,transfer,27332,43793,106907,2019-05-10 09:34:00,0,none
2338,transfer,32685,43793,106907,2019-07-08 12:20:00,0,none
2339,transfer,26390,43793,106907,2019-03-25 13:52:00,0,none

In [3]:
# basic information about the data
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   typeofaction   2340 non-null   object
 1   sourceid       2340 non-null   int64
 2   destinationid  2340 non-null   int64
 3   amountofmoney  2340 non-null   int64
 4   date           2340 non-null   object
 5   isfraud        2340 non-null   int64
 6   typeoffraud    2340 non-null   object
dtypes: int64(4), object(3)
memory usage: 128.1+ KB

            sourceid  destinationid  amountofmoney      isfraud
count    2340.000000    2340.000000   2.340000e+03  2340.000000
mean    49111.255128   52257.918803   2.508583e+06     0.597863
std     29614.440603   28988.847246   2.560434e+06     0.490434
min        61.000000      53.000000   1.333200e+04     0.000000
25%     24033.000000   28046.000000   3.359140e+05     0.000000
50%     46632.500000   52748.500000   1.162354e+06     1.000000
75%     75107.000000   78030.000000   4.686559e+06     1.000000
max    100000.000000   99950.000000   7.952497e+06     1.000000

## Preprocessing

In [4]:
cols_to_drop = ['date']
data.drop(columns=cols_to_drop, inplace=True)
data.dtypes

typeofaction     object
sourceid          int64
destinationid     int64
amountofmoney     int64
isfraud           int64
typeoffraud      object
dtype: object

In [5]:
X = data.drop('isfraud', axis=1)
y = data['isfraud']

In [ ]:
# Convert categorical features to numerical using Label Encoding
# Create a LabelEncoder object
label_encoder = LabelEncoder()

In [ ]:
# Define the categories to be encoded
categories = ['typeofaction','typeoffraud']

In [6]:
# Fit the encoder to the categories and transform them to numerical values
X[categories] = X[categories].apply(label_encoder.fit_transform)
X[categories]

      typeofaction  typeoffraud
0                0            1
1                0            1
2                0            1
3                0            1
4                0            1
...            ...          ...
2335             1            0
2336             1            0
2337             1            0
2338             1            0
2339             1            0

[2340 rows x 2 columns]

In [7]:
# Split the data into training, validation, and testing sets
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [8]:
# standardize numerical features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

In [9]:
# Plan a model
model = RandomForestClassifier(random_state=42)

In [ ]:
# Build the model
model.fit(X_train, y_train)

In [ ]:
# Evaluate results
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
# Make predictions on validation set
y_pred = model.predict(X_val)

In [ ]:
# Evaluate accuracy
accuracy = accuracy_score(y_val, y_pred)
print(f'Validation Accuracy: {accuracy}')

In [10]:
# Evaluate other metrics
print(classification_report(y_val, y_pred))

Validation Accuracy: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       126
           1       1.00      1.00      1.00       225

    accuracy                           1.00       351
   macro avg       1.00      1.00      1.00       351
weighted avg       1.00      1.00      1.00       351

In [ ]:
import pickle

In [11]:
# Save the model to a file
pickle.dump(model, open('internship.pkl','wb'))

In [12]:
# Load the saved model from the file
model = pickle.load(open('internship.pkl','rb'))